[Unit]
#Documentation=man:fstab(5) man:systemd-fstab-generator(8)
#SourcePath=/etc/fstab
#Before=local-fs.target

[Mount]
What=tmpfs
Where=/tmp/dhcp
Type=tmpfs

[Install]
WantedBy=multi-user.target
